<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CShells Preview" value="https://f.feedz.io/valence-works/cshells/nuget/index.json" />
    <add key="Nuplane Preview" value="https://f.feedz.io/valence-works/nuplane/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="NETStandard.*" />
      <package pattern="NuGet.*" />
      <package pattern="JetBrains.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Polly*" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.*" />
      <package pattern="Testcontainers" />
      <package pattern="Testcontainers.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key="CShells Preview">
      <package pattern="CShells" />
      <package pattern="CShells.*" />
    </packageSource>
    <packageSource key="Nuplane Preview">
      <package pattern="Nuplane" />
      <package pattern="Nuplane.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
