<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </auditSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget.org">
      <package pattern="MSTest.*" />
      <package pattern="Microsoft.*" />
      <package pattern="Azure.*" />
      <package pattern="System.*" />
      <package pattern="JsonSchema.Net" />
      <package pattern="JsonPointer.Net" />
      <package pattern="Json.More.Net" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.*" />
      <package pattern="CShells" />
      <package pattern="CShells.*" />
      <package pattern="Spectre.Console" />
      <package pattern="Spectre.Console.*" />
      <package pattern="Cronos" />
      <package pattern="EnumerableAsyncProcessor" />
      <package pattern="FastEndpoints" />
      <package pattern="FastEndpoints.*" />
      <package pattern="FluentValidation" />
      <package pattern="Humanizer.Core" />
      <package pattern="JetBrains.Annotations" />
      <package pattern="TUnit" />
      <package pattern="TUnit.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
