root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_diagnostic.PK1001.severity = error
dotnet_diagnostic.PK1002.severity = suggestion
dotnet_diagnostic.PK1003.severity = error
dotnet_diagnostic.PK1004.severity = error
dotnet_diagnostic.PK1005.severity = error
dotnet_diagnostic.PK1006.severity = error
dotnet_naming_rule.private_fields_camel_case.severity = error
dotnet_naming_rule.private_fields_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_camel_case.style = camel_case
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.camel_case.capitalization = camel_case
csharp_style_prefer_primary_constructors = true:suggestion
